<div class="container">
    <img src="~/imagens/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/imagens/Envelope-icon24.png" />
            </span>
            <h5><email endereco="lanchebom@cris.com" conteudo="Enviar um email"></email></h5>
            <br />
            <span>
                <img src="~/imagens/phone-app-icon.png" />
            </span>
            <h5>(15) 9999-9999</h5>
            <br />
            <span>
                <img src="~/imagens/Home-iconred.png" />
            </span>
            <h5>Av. Lucas Silva e Silva, 1000 - Sorocaba</h5>
        </p>
    </div>
 </div>
